## Image versions ##
# renovate: datasource=docker depName=camunda/camunda
CAMUNDA_VERSION=8.9.19

# renovate: datasource=docker depName=camunda/connectors-bundle
CAMUNDA_CONNECTORS_VERSION=8.9.10

# renovate: datasource=docker depName=camunda/identity
CAMUNDA_IDENTITY_VERSION=8.9.9

# renovate: datasource=docker depName=camunda/operate
CAMUNDA_OPERATE_VERSION=8.9.11

# renovate: datasource=docker depName=camunda/tasklist
CAMUNDA_TASKLIST_VERSION=8.9.11

# renovate: datasource=docker depName=camunda/optimize
CAMUNDA_OPTIMIZE_VERSION=8.9.19

# renovate: datasource=docker depName=camunda/web-modeler-restapi
CAMUNDA_WEB_MODELER_VERSION=8.9.8

# renovate: datasource=docker depName=camunda/console
CAMUNDA_CONSOLE_VERSION=8.9.105

# renovate: datasource=docker depName=elasticsearch
ELASTIC_VERSION=8.19.11

# renovate: datasource=docker depName=camunda/keycloak versioning=regex:^quay-(?<major>\d+)\.(?<minor>\d+)\.(?<patch>\d+)$
KEYCLOAK_SERVER_VERSION=quay-26.6.4

# renovate: datasource=docker depName=axllent/mailpit
MAILPIT_VERSION=v1.21.8

POSTGRES_VERSION=15-alpine3.22


## Orchestration configuration ##

# Camunda configuration file mounted into the orchestration container.
# Lightweight local setup:
ORCHESTRATION_CONFIG_FILE=application-h2.yaml


## Network Configuration ##

# Used for browser/external access URLs.
# Change this later if Camunda should be accessed from another machine.
HOST=localhost

# Hostname used for Keycloak browser access.
KEYCLOAK_HOST=host.docker.internal


## OIDC Client Configuration ##

# Identity
VALUES_CAMUNDA_IDENTITY_CLIENT_SECRET=CHANGE_ME

# Orchestration / Zeebe / Operate / Tasklist
ORCHESTRATION_CLIENT_ID=orchestration
ORCHESTRATION_CLIENT_SECRET=CHANGE_ME

# Connectors
CONNECTORS_CLIENT_ID=connectors
CONNECTORS_CLIENT_SECRET=CHANGE_ME

# Console
CONSOLE_CLIENT_SECRET=CHANGE_ME

# Optimize
OPTIMIZE_CLIENT_SECRET=CHANGE_ME


## Database Configuration ##

# Identity / Keycloak PostgreSQL Database
POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=CHANGE_ME

# Web Modeler PostgreSQL Database
WEBMODELER_DB_NAME=web-modeler-db
WEBMODELER_DB_USER=web-modeler-db-user
WEBMODELER_DB_PASSWORD=CHANGE_ME


## Keycloak Admin Credentials ##

KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME


## Web Modeler Configuration ##

# Pusher configuration for WebSocket communication
WEBMODELER_PUSHER_APP_ID=web-modeler-app
WEBMODELER_PUSHER_KEY=web-modeler-app-key
WEBMODELER_PUSHER_SECRET=CHANGE_ME

# Mail configuration
WEBMODELER_MAIL_FROM_ADDRESS=noreply@camunda.example.com


## Feature Flags ##

# Enable resource based authorizations for users and groups.
RESOURCE_AUTHORIZATIONS_ENABLED=true


## Document Store Configuration (Optional) ##

# DOCUMENT_DEFAULT_STORE_ID=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_REGION=
# DOCUMENT_STORE_AWS_BUCKET=
# DOCUMENT_STORE_AWS_BUCKET_PATH=
# DOCUMENT_STORE_AWS_CLASS=